.App {
  text-align: center;
}

.d-flex{
  display: flex;
}

.j-center {
  justify-content: center;
}

.column {
  flex-wrap: wrap;
  flex-direction: column;
}

.space-btw {
  justify-content: space-between;
}

.p-20{
  padding: 20px;
}

.grow1 {
flex:1  
}

.card {overflow: hidden;
padding: 10px;
margin: 15px;
width:300 px;
border: 1px solid
}

.box {
  height: 300px;
  width: 300px;
}

.toolbar {
  padding: 20px;
  background-color: #f3f3f3;

}

.toolbar a {
  margin-right: 20px;
}

.w300 {
  width: 300px;
}